@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
:root{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    /* font-weight: 400; */
    color: var(--Dark-grayish-blue);
}

.main{
    max-width: 100vw;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-light-grayish-blue);
}

.container{
    background-color: var(--White);
    width: 670px;
    height: fit-content;
    padding: 20px;
    margin: 15px auto 15px auto;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--Blue);
}

#markAsRead{
    color: var(--Grayish-blue);
}
#markAsRead:hover{
    color: var(--Blue);
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 20px;
}

h1{
    font-size: medium;
    color: var(--Very-dark-blue);
}

#no{
    background-color: var(--Blue);
    padding: 1px 6px;
    color: #fff;
    border-radius: 3px;
}

.notification{
    background-color: var();
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.notification-active{
    background-color: var(--Very-light-grayish-blue);
}

.in-noti{
    margin-top: 8px;
    padding: 12px;
    border: 1px solid var(--Light-grayish-blue-1);
    border-radius: 5px;
}

.in-noti:hover{
    background-color: var(--Light-grayish-blue-2);
}

.profile-img{
    width: 34px;
    height: 34px;
    padding: 2px;
    margin-right: 15px;
}

.profile-img img{
    width: 34px;
    height: 34px;
}

.image{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-img1{
    width: 34px;
    height: 34px;
}

.profile-img1 img{
    width: 100%;
    height: 100%;
}

.name{
    font-weight: 800;
    color: var(--Very-dark-blue);
}

.second{
    font-weight: 800;
    color: var(--Dark-grayish-blue);
}

.chess{
    font-weight: 800;
    color: var(--Blue);
}

.dot{
    width: 8px;
    height: 8px;
    background-color: var(--Red);
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
}

.hidden {
    display: none;
  }

.attribution {
    font-size: 10px;
    text-align: center;
    padding: 20px;
    background-color: var(--Very-light-grayish-blue);
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (max-width: 375px) {
    .container{
        background-color: #fff;
        width: 100%;
        height: fit-content;
        padding: 12px;
        margin: 0;
    }
}